*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins", sans-serif
}
.container{
     background-color: #ffffff;
     width: min(90%, 31.25em);
     padding: 4em 2em;
     position: absolute;
     transform: translate(-50%,-50%);
     top: 50%;
     left: 50%;
     color: #142b37;
     font-weight: 600;
     border-radius: 0.5em;
     display: grid;
     justify-content: center;
     box-shadow: 0 2em 3em rgba(0,0,0,0.2);
}